<!DOCTYPE html>
<html>
  <head>
    <title>GyakutenCloneGroup9</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <% if flash[:alert] %>
   <div class="alert alert-danger"><%= flash[:alert] %>
     <button type="button" class="close" data-dismiss="alert">&times;</button>
   </div>
  <% end %>




    <%= render "layouts/header" %>
    <%= render "layouts/footer" %>
    <%= yield %>

  </body>
</html>
